<div class="footer-container">
    {{!-- footer-info: start --}}
    <div class="footer-info grid">
        <div class="footer-info__about-us">
            <div class="footer-info__title">Liên hệ</div>
            <div class="footer-info__item">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square footer-icon"></i>BookStore's Fanpage</a></li>
                    <li><a href="#"><i class="fas fa-mobile-alt footer-icon"></i>+89123456789</a></li>
                    <li><a href="#"><i class="fas fa-envelope footer-icon"></i>bookstore.official@gmail.com</a></li>
                    <li><a href="#"><i class="fab fa-instagram footer-icon"></i>BookStore's Instagram</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-info__customer-support">
            <div class="footer-info__title">Hỗ trợ khách hàng</div>
            <div class="footer-info__item">
                <ul>
                    <li><a href="/news">Giới thiệu về BookStore</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-info__payment-methods">
            <div class="footer-info__title">Phương thức thanh toán</div>
            <div class="footer-info__item">
                <ul>
                    <li><img src="/img/installment.svg" alt="Installment"></li>
                    <li><img src="/img/jcb.svg" alt="SHB"></li>
                    <li><img src="/img/mastercard.svg" alt="Mastercard"></li>
                    <li><img src="/img/visa.svg" alt="VISA"></li>
                    <li><img src="/img/internet-banking.svg" alt="Internet Banking"></li>
                    <li><img src="/img/cash.svg" alt="Cash"></li>
                </ul>
            </div>
        </div>

        <div class="footer-info__feedbacks">
            <div class="footer-info__title">Góp ý với chúng tôi</div>
            <div class="footer-info__item">
                <form action="" class="form-container">
                    {{!-- <div class="form__row">
                        <label class="form__title" for="name">Họ tên: </label> 
                        <input class="form__input" type="text" placeholder="Họ tên" name="" id="">
                    </div> --}}
                    <div class="form__row">
                        {{!-- <label class="form__title" for="email">Email: </label>  --}}
                        <input class="form__input" type="email" placeholder="Email" name="" id="">
                    </div>
                    <div class="form__row">
                        {{!-- <label class="form__title" for="message">Lời nhắn: </label>  --}}
                        <textarea class="form__input" name="" id="" cols="20" rows="4" placeholder="Lời nhắn"></textarea>
                    </div>
                    <div class="form__row">
                        <input class="btn btn-submit" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{!-- footer-info: end --}}

    <div class="footer-address">
        <p><b>Địa chỉ liên hệ: </b>Đội 4, Thôn Đạo Khê, Xã Trung Hưng, Huyện Yên Mỹ, Tỉnh Hưng Yên.</p>
    </div>

    <div class="footer-copyright">
        <span><b>© 2021 - Bản quyền của Nguyễn Anh Tuấn</b></span> | <span>04/08/2021</span>
    </div>
</div>