<div id="slider">
    {{!-- <img src="\img\tristan-yajuu-bour-illustration8.jpg" alt=""> --}}
    <div class="slider-product-info">
        <div class="heading">Ngày đẹp trời em sẽ đến</div>
        <div class="desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
        <a href="#" class="btn">Xem thông tin</a>
    </div>
</div>


<div id="content">
    <div class="content-title">Mới cập nhật</div>

    {{!-- tạo controller và routes cho trang login. Khi load trang login ẩn navbar --}}
    {{!-- b1: Tạo login.hbs
            b2: Tạo LoginController.js
                b3: Tạo login.js trong routes
                    b4: Khai báo const loginRoute = require('./login')
                        b5: Gọi app.use('/login', loginRoute); --}}
    <div class="content-container">
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về </div>
            </div>
        </div>
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
            </div>
        </div>
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
            </div>
        </div>
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
            </div>
        </div>
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
            </div>
        </div>
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
            </div>
        </div>
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
            </div>
        </div>
        <div class="card-product">
            <img src="/img/IMG_1566.jpg" alt="" class="product-img">
            <div class="product-info">
                <div class="product-heading">Ngày đẹp trời em sẽ đến.</div>
                <div class="product-price">Giá bán: 
                    <span class="product-price-value-strikethrough">200.000đ</span>
                    <span class="product-price-value">150.000đ</span></div>
                <div class="product-desc">Tác phẩm được sáng tác bởi Tommy, xuất bản ngày 10/08/2021, nội dung nói về</div>
            </div>
        </div>
    </div>
    
    <div class="btn-prev-next-page">
        <button class="prev-page"><i class="fas fa-angle-left content-icon"></i>Trang trước</button>
        <button class="next-page">Trang sau<i class="fas fa-angle-right content-icon"></i></button>
    </div>
</div>