<div class="chart-layout">
    <div class="chart-layout__item" style="--percent: 10%">10%</div>
    <div class="chart-layout__item" style="--percent: 20%">20%</div>
    <div class="chart-layout__item" style="--percent: 40%">40%</div>
    <div class="chart-layout__item" style="--percent: 70%">70%</div>
    <div class="chart-layout__item" style="--percent: 50%">50%</div>
    <div class="chart-layout__item" style="--percent: 10%">10%</div>
    <div class="chart-layout__item" style="--percent: 20%">20%</div>
    <div class="chart-layout__item" style="--percent: 40%">40%</div>
    <div class="chart-layout__item" style="--percent: 70%">70%</div>
    <div class="chart-layout__item" style="--percent: 50%">50%</div>
    <div class="chart-layout__item" style="--percent: 10%">10%</div>
    <div class="chart-layout__item" style="--percent: 20%">20%</div>
    <div class="chart-layout__item" style="--percent: 40%">40%</div>
    <div class="chart-layout__item" style="--percent: 70%">70%</div>
    <div class="chart-layout__item" style="--percent: 50%">50%</div>
</div>
<img src="/img/tristan-yajuu-bour-illustration8.jpg" alt="" srcset="">